<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>TravelF 홈페이지</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/rec_img.css}" />

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/ac79bf9ffb.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="content-box">
        <div class="rec_img">
            <div style="display: flex; flex-wrap: wrap;">
                <div th:each="a:${tmp}" style="display: flex; flex-direction: column;">
                    <img th:src="${a.getFile_name()}" alt="이미지 없음" style="width:224px; height:224px; margin: 10px; border-radius: 4px;">
                    <span th:text="${a.getTitle()}" style="width:224px; margin: 10px; border-radius: 4px;"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/footer::footer"></div>
</body>
</html>